{% extends 'base.html.twig' %}

{% block title %}Utilisateur {{ utilisateur.prenom }} {{ utilisateur.nom }}{% endblock %}

{% block body %}
    <h1>Utilisateur #{{ utilisateur.id }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ utilisateur.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ utilisateur.email }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ utilisateur.telephone | default('Non renseigné') }}</td>
        </tr>
        <tr>
            <th>Rôle Interne</th>
            <td>{{ utilisateur.roleInterne | capitalize }}</td>
        </tr>
        <tr>
            <th>Rôles Symfony</th>
            <td>{{ utilisateur.roles ? utilisateur.roles|join(', ') : '' }}</td>
        </tr>
        <tr>
            <th>Vérifié</th>
            <td>{{ utilisateur.isVerified ? 'Oui' : 'Non' }}</td>
        </tr>
        {# Add other fields as needed: date creation, reservations count etc. #}
        </tbody>
    </table>

    <a href="{{ path('admin_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning">Modifier</a>
    {{ include('admin/utilisateur/_delete_form.html.twig', {'utilisateur': utilisateur}) }}
    <a href="{{ path('admin_utilisateur_index') }}" class="btn btn-secondary">Retour à la liste</a>

{% endblock %}